include android.txt
include BUGS.txt
include CHANGES.txt
include LICENSE.txt
include README.txt
include TODO.txt
include OneWayTrip/__init__.py
include OneWayTrip/__main__.py
include OneWayTrip/bmpfont.py
include OneWayTrip/bmpfont.txt
include OneWayTrip/bmpfont.zip
include OneWayTrip/data.py
include OneWayTrip/GameFrames.py
include OneWayTrip/MainFrame.py
include OneWayTrip/Pathfinder.py
include OneWayTrip/TileSet.py
include OneWayTrip/Utils.py
include OneWayTrip/map/__init__.py
include OneWayTrip/map/Street.py
include OneWayTrip/map/WorldMapParser.py
include OneWayTrip/map/slice/__init__.py
include OneWayTrip/map/slice/SpriteSlicer.py
include OneWayTrip.py
include pyweek_upload.py
include run_game.py
include setup.py
